{% extends 'base.html' %}
{% block title %}{{sum}}{% endblock %}
{% block css %}

{% endblock %}

{% block head %}
{% endblock %}
{% block body %}
{% endblock %}

{% block Sidebar %}
{% endblock %}

{% block container %}
<div class="card bg-light mb-3">
            <div class="card-footer small text-muted">
                <label class="btn btn-warning" onclick="javascript:location.href='/Backup/DoBackup/"><i class="fas fa-upload"></i>開始備份資料庫</label>
            </div>

</div>
{% endblock %}


{% block foot %}Copyright © Cypress 2018{% endblock %}
{% block js %}
{% endblock %}
