{% extends 'base.html' %}
{% load Common_extras %}
{% block title %}規費科目{% endblock %}

{% block css %}
{% endblock %}

{% block container %}

  <div class="card bg-light mb-3">
        <div class="card-header"><i class="fas fa-search"></i>條件搜尋</div>
            <div class="card-body">
              <div class="row">
                    <B class="col-xl-3 col-sm-6 mb-3">規費項目代碼：</B>
                    <input class="form-control rounded-0 col-xl-3 col-sm-6 mb-3" id="searchFeeID" name="searchFeeID" value="" type="text">
                    <B class="col-xl-3 col-sm-6 mb-3">規費項目名稱：</B>
                    <input class="form-control rounded-0 col-xl-3 col-sm-6 mb-3" id="searchFeeName" name="searchFeeName" value="" type="text">
                    <B class="col-xl-3 col-sm-6 mb-3">規費群組：</B>
                    {% ParameterListFor  list=type html_id="searchFeeType" pleaseselect="----請選擇----" %}
                    <B class="col-xl-3 col-sm-6 mb-3">狀態：</B>
                    {% ParameterListFor  list=status html_id="Status" pleaseselect="----請選擇----" %}
              </div>

            </div>

            <div class="card-footer small text-muted">
                <button onclick="tablerefresh();"  id="search" class="btn btn-primary"> <i class="fas fa-search icon-large"></i>查詢 </button>
                <button  class="btn btn-warning"  onclick="javascript:location.href='{% url 'FeeItemNew'%}'" ><i class="fas fa-plus"></i>新增</button>
            </div>

  </div>

  {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ message }}
    </div>
  {% endfor %}


<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    規費科目清單</div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered table-striped" id="FeeItemTable" width="100%" cellspacing="0">
        <thead class="thead-light">
          <tr>
            <th>規費項目代碼</th>
            <th>規費項目名稱</th>
            <th>規費金額</th>
            <th>項目描述</th>
            <th>規費群組</th>
            <th>狀態</th>
            <th> </th>
          </tr>
        </thead>
        <tfoot class="thead-light">
          <tr>
            <th>規費項目代碼</th>
            <th>規費項目名稱</th>
            <th>規費金額</th>
            <th>項目描述</th>
            <th>規費群組</th>
            <th>狀態</th>
            <th> </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted">最後更新日期 {% now "SHORT_DATETIME_FORMAT" %}</div>
</div>


{% endblock %}

{% block foot %}Copyright © Cypress 2018{% endblock %}

{% block js %}
<script type="text/javascript">
    function tablerefresh(){
        $('#FeeItemTable').DataTable( {
            destroy:true,
            "processing": true,
            "serverSide": true,
            "searching": false,
            "ajax": {
                    "type":"POST",
                    "url": "/FeeItem/GetFeeItemData/",
                    "data":function(d){
                      d.csrfmiddlewaretoken= '{{ csrf_token }}',
                      d.FeeID__icontains =$("#searchFeeID").val(),
                      d.FeeName__icontains =$("#searchFeeName").val(),
                      d.FeeType__icontains =$("#searchFeeType").val(),
                      d.Status__icontains =$("#Status").val()
                    },
                    "dataSrc": "data",
            },

           "language": {
                    "url": "/static/vendor/datatables/i18n/Chinese-traditional.lang"
            },
            "columns": [
                { "data": "FeeID" },
                { "data": "FeeName" },
                { "data": "FeeAmount" },
                { "data": "Remark" },
                { "data": "FeeType" },
                { "data": "Status" },
                { "data": "pk" ,
                  render: function ( data, type, row ) {
                      if ( type === 'display' ) {
                        var retStr='<button class="btn btn-secondary " onclick="location.href=\'/FeeItem/Edit/'+data+'/\';" ><i class="far fa-edit icon-large"></i>編輯</button>'
                        return retStr;
                      }
                      return data;
                  },
                }
            ],
          });
  }

  $(document).ready(function() {
     tablerefresh();
    } );
</script>
{% endblock %}
