{% extends 'base.html' %}

{% block title %}條款{% endblock %}

{% block css %}
{% endblock %}

{% block container %}
<div class="card bg-light mb-3">
      <div class="card-header"><i class="fas fa-search"></i>條件搜尋</div>
          <div class="card-body">
            <div class="row">
              <B class="col-xl-3 col-sm-6 mb-3">條款編號：</B>
              <input class="form-control rounded-0 col-xl-3 col-sm-6 mb-3" id="searchTermID" name="searchTermID" value="" type="text">
              <B class="col-xl-3 col-sm-6 mb-3">條款名稱：</B>
              <input class="form-control rounded-0 col-xl-3 col-sm-6 mb-3" id="searchTermName" name="searchTermName" value="" type="text">
            </div>
          </div>

          <div class="card-footer small text-muted">
              <button id="search" class="btn btn-primary"> <i class="fas fa-search icon-large"></i>查詢 </button>
              <button  class="btn btn-warning"  onclick="javascript:location.href='/Term/Edit/'" ><i class="fas fa-plus"></i>新增</button>
          </div>

</div>
{% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
{% endfor %}
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    條款清單</div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered table-striped" id="TermTable" width="100%" cellspacing="0">
        <thead class="thead-light">
          <tr>
            <th>條款編號</th>
            <th>條款名稱</th>
            <th>備註說明</th>
            <th> </th>
          </tr>
        </thead>
        <tfoot class="thead-light">
          <tr>
            <th>條款編號</th>
            <th>條款名稱</th>
            <th>備註說明</th>
            <th> </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted">最後更新日期 {% now "SHORT_DATETIME_FORMAT" %}</div>
</div>
{% endblock %}

{% block foot %}Copyright © Cypress 2018{% endblock %}

{% block js %}
<script type="text/javascript">
  function tablerefresh(){
    var table = $('#TermTable').DataTable();
    table.ajax.reload();
  }
  $(document).ready(function() {
      $('#TermTable').dataTable( {
          "processing": true,
          "serverSide": true,
          "searching": false,
          "ajax": {
                 "type":"POST",
                 "url": "/Term/GetTermData/",
                 "data":function(d){
                   d.csrfmiddlewaretoken= '{{ csrf_token }}',
                   d.TermID__contains =$("#searchTermID").val();
                   d.TermName__contains =$("#searchTermName").val();
                 },
                 "dataSrc": "data"
             },
         "language": {
                 "url": "/static/vendor/datatables/i18n/Chinese-traditional.lang"
             },
          "columns": [
              { "data": "TermID" },
              { "data": "TermName" },
              { "data": "Remark" },
              {
                "data": "pk" ,
                render: function ( data, type, row ) {
                    if ( type === 'display' ) {
                      var retStr='<button class="btn btn-secondary "onclick="location.href=\'/Term/Edit/'+data+'\';" ><i class="far fa-edit icon-large"></i>編輯</button>'
                      return retStr;
                    }
                    return data;
                },
              }
          ]
      } );
      $('#search').click(function(){
        var table = $('#TermTable').DataTable();
        table.ajax.reload();
        tablerefresh();
      });
  } );
</script>
{% endblock %}
