{% extends 'base_front.html' %}
{% load Common_extras %}
{% block title %}STEP 1{% endblock %}

{% block css %}
{% endblock %}


{% block container %}
<input type="hidden" id="NextPageUrl" value="" />
<div class="row" style="margin-right:auto;">
  <div class="col-12">
    <div class="load-more-btn mt-50 text-center">
      <a href="#" id="Payment" class="btn world-btn mt-15 mr-15" ><i class="fas fa-file-invoice-dollar"></i>繳費</a>
      <a href="#" id="Refund" class="btn world-btn mt-15"><i class="fas fa-hand-holding-usd"></i>退費</a>
      <a href="#" id="PayEntry" class="btn world-btn mt-15"><i class="fas fa-hand-holding-usd"></i>補登繳費</a>
    </div>
  </div>
</div>
{% endblock %}

{% block Process%}
<!-- Single Slide -->
<div class='center one col-md-3 col-sm-6 col-xs-12'>
  <div class="single-slide d-flex ">
    <div class="post-number">
      <p>1</p>
    </div>
    <div class="post-title">
      <a href="/KioskUi/index/">點擊繳退費按鈕</a>
    </div>
  </div>
</div>
<!-- Single Slide -->
<div class='two col-md-3 col-sm-6 col-xs-12'>
  <div class="single-slide d-flex">
    <div class="post-number">
      <p>2</p>
    </div>
    <div class="post-title">
      <a href="#">刷入員工識別卡</a>
    </div>
  </div>
</div>

{% endblock%}
{% block model %}
<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalLongTitle" >
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">請刷入員工識別卡</h5>

      </div>
      <div class="modal-body">
        請在<span style="color:red;" id='CountSecond'>30</span>秒內刷入識別卡
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block js %}
<script>
var myVar

$(function() {

  $("#Payment").click(function() {
    ChangePage('/KioskUi/pick/');
    GoPage();
  });
  $("#Refund").click(function() {
    ChangePage('/KioskUi/Refund/');
    GoPage();
  });
  $("#PayEntry").click(function() {

  });

  websocket = new WebSocket(wsUri);
  var message='{"Command":"GetMoney_Cashbox"}';
  websocket.onopen = function(evt) {
    websocket.send(message);
  };
  websocket.onmessage = function (evt) {
    var data=JSON.parse(evt.data);
    var msg='元硬幣數量小於20個';
    if(data.TWD50<20)
    {
      alert('50'+msg);
    }
    if(data.TWD10<20)
    {
      alert('10'+msg);
    }
    if(data.TWD5<20)
    {
      alert('5'+msg);
    }
    if(data.TWD1<20)
    {
      alert('1'+msg);
    }
    websocket.close();
  };
});
function myTimer() {
  var CountSecond=parseInt($('#CountSecond').html())
  if(CountSecond==0){
    clearInterval(myVar);
    $('#exampleModalLong').modal('toggle');
  }else{
    $('#CountSecond').html(CountSecond-1);
  }

}
function ChangePage(url){
  $('#CountSecond').html(30);
  $('#exampleModalLong').modal('show')
  $( ".hero-post-area > .hero-post-slide > .container > .row > div" ).removeClass( "center" );
  $(".hero-post-area > .hero-post-slide > .container > .row >.two").addClass( "center" );
  $('#NextPageUrl').val(url);
  myVar = setInterval(myTimer, 1000);
}
function GoPage(){
  var CardNo=''
  websocket = new WebSocket(wsUri);
  var message='{"Command":"NFC_GETUID", "Timeout":30}';
  websocket.onopen = function(evt) {
    websocket.send(message);
  };

  websocket.onmessage = function (evt) {
    CardNo=evt.data;
    websocket.close();
    $.ajax({
      url: '/KioskUi/GetEmployee/'+CardNo+'/',
      type: 'post',
      data: {
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      cache: false,
      //async: false,
      success: function (data) {
        if(data){
          var url=$('#NextPageUrl').val();
          location.href=url+data+"/";
        }else{
          alert('無法辨識卡片!請重新刷卡');
          $('#CountSecond').html(30);
          clearInterval(myVar);
          $('#exampleModalLong').modal('toggle');
        }
      }
    });
  }



}
</script>
{% endblock %}
