{% extends 'base_front.html' %}
{% load Common_extras %}
{% block title %}STEP 3{% endblock %}

{% block css %}
<style>
  .list-group {
    max-height: 600px;
    margin-bottom: 10px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  ::-webkit-scrollbar {
    width: 0px;
  }

  ::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 0px 0 5px 0;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: rgb(219, 219, 219);
  }

  .list-group-item{
    font-size:24px;
    background-color: beige;
  }
  div>.list-group-item:hover{
    font-size:28px;
  }
  div>.list-group-item:focus{
    font-weight:bold;
    font-size:28px;
  }
</style>
{% endblock %}


{% block container %}
<input type="hidden" id="h_InvoiceNo" />
<input type="hidden" id="h_MasterID" />
<input type="hidden" id="h_PayTypeName" />
<input type="hidden" id="h_UserName" value='{{UserName}}' />
<div class="row" style="margin-right:auto;">
  <div class="col-4 " style="top:100px;padding-left:100px;">
    <div class="list-group">
      {% for fee in Feelist %}
      <a href="#" id="{{fee.id}}" class="list-group-item list-group-item-action" onclick="ClickFeeItem(this)">{{fee.FeeName}}<input type="hidden" value="{{fee.FeeAmount}}"/></a>
      {% endfor %}
    </div>
  </div>
  <div class="right col-7 text-center" style="top:80px;">
    <ul class='list-group'>
    </ul>
    <ul class="list-group1">
      <li class="list-group-item d-flex justify-content-between align-items-center" style="line-height:0;padding: .15rem 1.25rem;">
        <b>金額總計</b>
        <span id="totalaccount" class="badge badge-primary badge-pill ">NT$0</span>
        <button  href="#" id="EasyCardCheckout" class="btn btn-warning" ><i class="fas fa-coins"></i>悠遊卡結帳</button >
        <button  href="#" id="Checkout" class="btn btn-warning" ><i class="fas fa-coins"></i>現金結帳</button >
      </li>
    </ul>
  </div>
</div>

{% endblock %}
{% block Process%}
<!-- Single Slide -->
<div class='center one col-md-3 col-sm-6 col-xs-12'>
  <div class="single-slide d-flex ">
    <div class="post-number">
      <p>1</p>
    </div>
    <div class="post-title">
      <a href="/KioskUi/index/">點擊繳退費按鈕</a>
    </div>
  </div>
</div>
<!-- Single Slide -->
<div class='two col-md-3 col-sm-6 col-xs-12'>
  <div class="single-slide d-flex">
    <div class="post-number">
      <p>2</p>
    </div>
    <div class="post-title">
      <a href="/KioskUi/index/">刷入員工識別卡</a>
    </div>
  </div>
</div>
<!-- Single Slide -->
<div class='three col-md-3 col-sm-6 col-xs-12'>
  <div class="single-slide d-flex">
    <div class="post-number">
      <p>3</p>
    </div>
    <div class="post-title">
      <a href="/KioskUi/pick/{{UserID}}/">選取欲繳之規費、罰緩款項，並且點擊右下角確認按鈕</a>
    </div>
  </div>
</div>
<!-- Single Slide -->
<div class='four col-md-3 col-sm-6 col-xs-12'>
  <div class="single-slide d-flex">
    <div class="post-number">
      <p>4</p>
    </div>
    <div class="post-title">
      <a href="#">投入相對應之現金，取得付款收據</a>
    </div>
  </div>
</div>
{% endblock%}
{% block model %}
<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalLongTitle" >
  <input type="hidden" id="h_name" />
  <input type="hidden" id="h_id" />
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#PenaltyList"><h2>&nbsp&nbsp罰鍰&nbsp&nbsp</h2></a></li>
          <li><a data-toggle="tab" href="#TermList"><h2>&nbsp&nbsp條款&nbsp&nbsp</h2></a></li>
        </ul>
        <div class="tab-content">
          <div id="PenaltyList" class="tab-pane fade in active">
            <ul class="list-group">
              <input type="hidden" id="h_PenaltyID"/>
            {% for penalty in PenaltyList %}
              <li class="list-group-item" onclick="GoTermList('{{penalty.id}}')" id='{{penalty.id}}'>{{penalty.PenaltyName}}</li>
            {% endfor %}
            </ul>
          </div>
          <div id="TermList" class="tab-pane fade">
            <input type="hidden" id="h_TermID"/>
            {% for term in TermList %}
            <li class="list-group-item" onclick="CheckTermDate('{{term.id}}')" id='{{term.id}}'>{{term.TermName}}</li>
            {% endfor %}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">確定</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="StepModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalLongTitle" >
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5>請執行以下動作</h5>
      </div>
      <div class="modal-body">
        <h3 id="step1">1.總共<span id="ShowTotalMoney"></span>元，目前投入<span id="PayAmount">0</span>元</h3>
        <h3 id="step2">2.列印收據<span id="S_InvoiceNo"></span></h3>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" id="PrintInvoiceBT">完成列印發票</button>
        <button type="button" class="btn btn-default" id='CancelDeal'>取消</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block js %}
<script>
  var myVar;
  var myVarII;
  var timeout;
  $(function() {


    $(".hero-post-area > .hero-post-slide > .container > .row > div").removeClass("center");
    $(".hero-post-area > .hero-post-slide > .container > .row >.three").addClass("center");

    // Set NumPad defaults for jQuery mobile.
    // These defaults will be applied to all NumPads within this document!
    $.fn.numpad.defaults.gridTpl = '<table class="table modal-content"></table>';
    $.fn.numpad.defaults.backgroundTpl = '<div class="modal-backdrop in"></div>';
    $.fn.numpad.defaults.displayTpl = '<input type="text" class="form-control  input-lg" style="width: 100%;" />';
    $.fn.numpad.defaults.buttonNumberTpl = '<button type="button" class="btn btn-default btn-lg"></button>';
    $.fn.numpad.defaults.buttonFunctionTpl = '<button type="button" class="btn btn-lg" style="width: 100%;"></button>';
    $.fn.numpad.defaults.onKeypadCreate = function() {
      $(this).find('.done').addClass('btn-primary');
    };
    $("#pad").numpad({
      hidePlusMinusButton: true,
      hideDecimalButton: true,
      textDone: '確認',
      textDelete: '刪除',
      textClear: '清除',
      textCancel: '取消'
    });
    $('#Checkout').click(function () {
      if($(".FeeItem").length==0){
        alert('請選擇規費項目!!');
        return;
      }
      $('#StepModal').modal('show');
      $('#PrintInvoiceBT').hide();
      $("#step1").css("color", "red");
      $('#CancelDeal').show();
      var amount=convert();
      $('#ShowTotalMoney').html(amount);
      var websocket = new WebSocket(wsUri);
      var message='{"Command":"SetPrice", "Money":'+amount+'}';
      websocket.onopen = function(evt) {
        websocket.send(message);
      };
      websocket.onmessage = function (evt) {
        if(parseInt(evt.data)!=NaN){
          if(evt.data=='SetPrice-True'){
            $('#PayAmount').html('0');
          }else if(evt.data=='Payout-True'){
            PostData('PT01');
            websocket.close();
          }else if(evt.data=='Payout-False'){
            message='{"Command":"ReturnMoney"}';
            websocket.send(message);
            alert('錢箱無零錢可以找出正確金額!!!');
            $('#PayAmount').html('0');
            $('#StepModal').modal('toggle');
            websocket.close();
          }else if(evt.data>=amount){
            $('#step1').removeAttr('style');
            $('#step2').css("color", "red");
            $('#PrintInvoiceBT').show();
            $('#CancelDeal').hide();
            $('#PayAmount').html(evt.data);
            var RefundMoney=evt.data-convert();
            if(RefundMoney>0){
              message='{"Command":"Payout", "Money":'+RefundMoney+'}';
              websocket.send(message);
            }else{
              PostData('PT01');
              websocket.close();
            }
          }else if(evt.data<amount){
            $('#PayAmount').html(evt.data);
          }
        }
      };
    });

    $('#EasyCardCheckout').click(function () {
      if($(".FeeItem").length==0){
        alert('請選擇規費項目!!');
        return;
      }
      PayByEasyCard();
    });

    $('#PrintInvoiceBT').click(function () {
      $(this).prop('disabled', true);
      var PrintData=GetPrintData();
      var items="";
      $(".FeeItem").each(function() {
        var Name=$(this).attr('itemName');
        var FeeCount=$(this).val();
        var Price=$(this).attr('price');
        if(items!=''){
          items=items+'\r\n';
        }
        items=items+Name+'\r\n'+FeeCount+'x'+Price+'='+(parseInt(FeeCount)*parseInt(Price)).toString()
      });
      var op="收費人員:"+$('#h_UserName').val()+"\r\n業務課長:"+PrintData[0]['fields']["Salesman"]+"\r\n主辦會計:"+PrintData[0]['fields']["Accounting"]+"\r\n機關主管:"+PrintData[0]['fields']["Chief"];
      var printInfo='{"Command":"EPSON_RECEIPT_PRINT","Title":"台北市信義戶政收款收據", "TEL":"", "FAX":"", "NumOfReci":"'+$('#h_InvoiceNo').val()+'", "ItemAndMoney":"'+items+'", "TotalMoney":"'+convert()+'", "CashORCard":"'+$('#h_PayTypeName').val()+'", "OP":"'+op+'","Count":1}';
      var websocket = new WebSocket(wsUri);
      websocket.onopen = function(evt) {
        websocket.send(printInfo);
      };
      websocket.onmessage = function (evt) {
        if(evt.data=='Complete'){
          location.href='/KioskUi/index/';
        }else{
          alert(evt.data);
          //之後要拿掉
          //location.href='/KioskUi/index/';
        }
        websocket.close();
      };
    });
    $('#CancelDeal').click(function () {
      clearInterval(myVar);
      $('#StepModal').modal('toggle');
      var websocket = new WebSocket(wsUri);
      websocket.onopen = function(evt) {
        websocket.send('{"Command":"ReturnMoney"}');
      };
      websocket.onmessage = function (evt) {
        websocket.close();
      };
    });
  });

  function GetPrintData(){
    var printData
    $.ajax({
      url: '/PrintData/GetLastPrintData/',
      type: 'GET',
      cache: false,
      async: false,
      success: function (data) {
        printData=data;
      }
    });
    return printData;
  }
  function PayByEasyCard()
  {
    $('#PayAmount').html('0');
    $('#StepModal').modal('show');
    $('#CancelDeal').hide();
    $('#step1').css("color", "black");
    $('#step2').css("color", "red");
    $('#PrintInvoiceBT').show();
    $('#ShowTotalMoney').html(convert());
    PostData('PT02');
  }

  function PostData(PayType){
    var DealDetail=[];
    DealDetail.push({
      'Cashier':'{{ UserID }}',
      'TotalAmount':convert()
    });
    $(".FeeItem").each(function() {
      var Price=$(this).attr('price')=='undefined'?'':$(this).attr('price');
      var Term=$(this).attr('Term')=='undefined'?'':$(this).attr('Term');
      var Penalty=$(this).attr('Penalty')=='undefined'?'':$(this).attr('Penalty');
      var Fee=$(this).attr('id');
      var FeeCount=$(this).val();
      DealDetail.push({
        'Price':Price,
        'Term':Term,
        'Penalty':Penalty,
        'Fee':Fee,
        'FeeCount':FeeCount
      });
    });
    if(PayType=='PT01'){
      $('#h_PayTypeName').val('現金');
    }else if(PayType=='PT02'){
      $('#h_PayTypeName').val('悠遊卡');
    }
    $.ajax({
      url: '/KioskUi/SaveDealData/'+PayType+'/',
      type: 'post',
      data: {
        csrfmiddlewaretoken: '{{ csrf_token }}',
        DataJson:JSON.stringify(DealDetail)
      },
      cache: false,
      async: false,
      success: function (data) {
        $('#h_InvoiceNo').val(data.InvoiceNo);
        $('#S_InvoiceNo').html(data.InvoiceNo);
        $('#h_MasterID').val(data.MasterID);
      }
    });

  }
  //按下罰鍰後記錄罰鍰編號>然後選擇條款
  function GoTermList(PenaltyID)
  {
    $('#h_PenaltyID').val(PenaltyID);
    $('.nav-tabs a[href="#TermList"]').tab('show');
  }
  //按下條款後記錄條款編號>開啟小算盤>設定確認小算盤後需要組到右邊的資料
  function CheckTermDate(TermID)
  {
    $('#h_TermID').val(TermID);
    $('#exampleModalLong').modal('toggle');
    $("#pad").numpad('open');
    $('.done').on("click", function() {
      var price=$('.nmpd-display').val()==''?0:$('.nmpd-display').val();
      var id= $('#h_id').val();
      var name= $('#h_name').val();
      var PenaltyID=$('#h_PenaltyID').val();
      PenaltyName=$('#'+PenaltyID+'').text();
      TermName=$('#'+TermID+'').text();
      name=name+'('+PenaltyName+')('+TermName+')';
      SetAppendFee(price,name,id,TermID,PenaltyID);
    });
  }
  //點擊左邊選項後要做的事>罰鍰:就開啟罰緩視窗>金額為0:開啟小算盤>其他:組出左邊的資料
  function ClickFeeItem(elem)
  {
    var price = $(elem).children().val()
    var name = $(elem).text()
    var id = $(elem).attr("id")

    if(id=='62'){
      $('#h_name').val(name);
      $('#h_id').val(id);
      $('#exampleModalLong').modal('show');
      $('.nav-tabs a[href="#PenaltyList"]').tab('show');
    }else{
      $(elem).attr('hidden', true)
      if (price == 0) {
        $("#pad").numpad('open');
        $('.done').on("click", function() {
          price=$('.nmpd-display').val()==''?0:$('.nmpd-display').val();
          SetAppendFee(price,name,id);
        });
        $('.cancel').on("click", function() {
          $(elem).attr('hidden', false);
        });
      } else {
        SetAppendFee(price,name,id);
      }
    }

  }
  //組出左邊的資料>在計算總金額
  function SetAppendFee(price,name,id,Term,Penalty){
    $(".right > .list-group").append(
      "<li class='list-group-item d-flex justify-content-between align-items-center'>" + name +
        "<span class='badge badge-primary badge-pill'>NT$" + price + "</span>"+
        "<div>"+
          "<i class='fas fa-minus-square' onclick='MinusValues(\""+id+"\")' onmousedown='MinusMousedown(\""+id+"\")' onmouseup='MinusMouseup(\""+id+"\")' onmouseout='MinusMouseout(\""+id+"\")'  ontouchstart='MinusTouchStart(\""+id+"\")' ontouchend='MinusTuchEnd(\""+id+"\")'></i>&nbsp&nbsp&nbsp&nbsp"+
          "<input type='input' style='width:50px;' class='FeeItem' onchange='ChangeFeeCount()' id='" + id +"' min='1' max='100' itemName='"+name+"' price='"+price+"' Term='"+Term+"' Penalty='"+Penalty+"' value='1'/>"+
          "&nbsp&nbsp&nbsp&nbsp<i class='fas fa-plus-square' onclick='PlusValues(\""+id+"\")' onmousedown='PlusMousedown(\""+id+"\")' onmouseup='PlusMouseup(\""+id+"\")' onmouseout='PlusMouseout(\""+id+"\")' ontouchstart='PlusTouchStart(\""+id+"\")' ontouchend='PlusTuchEnd(\""+id+"\")'></i>"+
        "</div>"+
        "<i onclick='removeitem(this,"+price+")' class='fas fa-times fa-1x'></i>"+
      "</li>");
      var total=convert()
      total=total+ parseInt(price);
      document.getElementById("totalaccount").innerHTML = 'NT$'+total;
  }
  //設定數量後重新計算總金額
  function ChangeFeeCount(){
    var total=0;
    $(".FeeItem").each(function() {
      var Price=$(this).attr('price');
      var FeeCount=$(this).val();
      total=total+parseInt(Price)*parseInt(FeeCount);
    });
    document.getElementById("totalaccount").innerHTML = 'NT$'+total;
  }
  function convert(){
    return parseInt(document.getElementById("totalaccount").innerHTML.substring(3, document.getElementById("totalaccount").innerHTML.length))
  }
  function removeitem(elem,minus) {
    var feeid = $(elem.parentNode.childNodes[2].childNodes[2]).attr("id");
    var FeeCount=parseInt($('input[id="'+feeid+'"]').val());
    elem.parentNode.remove();
    $("a[id='" + feeid + "']").attr('hidden', false);
    var total=convert();
    total=total- (parseInt(minus)*FeeCount);
    document.getElementById("totalaccount").innerHTML = 'NT$'+total;
  }
  function PlusValues(id){
    var NowValue=parseInt($('input[id="'+id+'"]').val());
    $('input[id="'+id+'"]').val(NowValue+1);
    ChangeFeeCount();
  }
  function MinusValues(id){
    var NowValue=parseInt($('input[id="'+id+'"]').val());
    if(NowValue>1){
      $('input[id="'+id+'"]').val(NowValue-1);
      ChangeFeeCount();
    }
  }
  function PlusMousedown(id){
    timeout = setTimeout(function() {
      myVarII = setInterval(function(){PlusValues(id);}, 80);
    }, 800);
  }
  function PlusMouseup(id){
    clearInterval(myVarII);
    clearTimeout(timeout);
  }
  function PlusMouseout(id){
    clearInterval(myVarII);
    clearTimeout(timeout);
  }
  function MinusMousedown(id){
    timeout = setTimeout(function() {
      myVarII = setInterval(function(){MinusValues(id);}, 80);
    }, 800);
  }
  function MinusMouseup(id){
    clearInterval(myVarII);
    clearTimeout(timeout);
  }
  function MinusMouseout(id){
    clearInterval(myVarII);
    clearTimeout(timeout);
  }
  function PlusTouchStart(id){
    timeout = setTimeout(function() {
      myVarII = setInterval(function(){PlusValues(id);}, 80);
    }, 800);
  }
  function MinusTouchStart(id){
    timeout = setTimeout(function() {
      myVarII = setInterval(function(){MinusValues(id);}, 80);
    }, 800);
  }
  function PlusTuchEnd(id){
    clearInterval(myVarII);
    clearTimeout(timeout);
  }
  function MinusTuchEnd(id){
    clearInterval(myVarII);
    clearTimeout(timeout);
  }
</script>
{% endblock %}
