{% extends 'base.html' %}

{% block title %}員工卡號{% endblock %}

{% block css %}
{% endblock %}

{% block container %}
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/EmployeeCard/Edit/0/">新增</a>
  </li>
</ol>

<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    員工卡號清單</div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="EmployeeCardTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>代碼</th>
            <th>名稱</th>
            <th>卡號</th>
            <th>是否在職</th>
            <th> </th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>代碼</th>
            <th>名稱</th>
            <th>卡號</th>
            <th>是否在職</th>
            <th> </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted">最後更新日期 {% now "SHORT_DATETIME_FORMAT" %}</div>
</div>
{% endblock %}

{% block foot %}Copyright © Cypress 2018{% endblock %}

{% block js %}
<script type="text/javascript">
  $(document).ready(function() {
      $('#EmployeeCardTable').dataTable( {
          "ajax": {
                 "processing": true,
                 "url": "/EmployeeCard/GetEmployeeCardData/",
                 "dataSrc": ""
             },
         "language": {
                 "url": "/static/vendor/datatables/i18n/Chinese-traditional.lang"
             },
          "columns": [
              { "data": "fields.EmployeeID" },
              { "data": "fields.EmployeeName" },
              { "data": "fields.CardNo" },
              {
                "data": "fields.IsWork",
                render: function ( data, type, row ) {
                    if ( type === 'display' ) {
                      var retStr='<input type="checkbox" disabled="true" class="editor-active" checked>'
                      if(!data){
                        retStr=retStr.replace('checked','')
                      }
                      return retStr;
                    }
                    return data;
                },
                className: "dt-body-center"
              },
              {
                "data": "pk" ,
                render: function ( data, type, row ) {
                    if ( type === 'display' ) {
                      var retStr='<input type="button" class="btn btn-secondary" onclick="location.href=\'/EmployeeCard/Edit/'+data+'/\';" value="編輯" />'
                      return retStr;
                    }
                    return data;
                },
              }
          ]
      } );
  } );
</script>
{% endblock %}
