{% extends 'base.html' %}
{% load Common_extras %}
{% block title %}月報表{% endblock %}

{% block css %}
{% endblock %}

{% block container %}
{% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
{% endfor %}
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-plus-circle"></i>
    月報表</div>
    <div class="card-body">
      <div class="table-responsive">
        <form method="post" id="SubmitForm" action="/ExportExcel/MonthReportIndex/">
          {% csrf_token %}
          <table class="table table-bordered" width="100%" cellspacing="0">
            <tr>
              <th>
                <label>報表年月</label>
              </th>
              <td>
                {% ParameterListFor list=YearList html_id="SelectYear" pleaseselect="---請選擇---" HtmlStyle="float:left;" %}
                {% ParameterListFor list=MonthList html_id="SelectMonth" pleaseselect="---請選擇---" %}
              </td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit" id="ExportBT" class="btn btn-primary"> <i class="fas fa-file-excel"></i> 匯出</button></td>
            </tr>
          </table>
        </form>
      </div>
    </div>
    <div class="card-footer small text-muted">Updated {% now "SHORT_DATETIME_FORMAT" %}</div>

</div>
{% endblock %}

{% block foot %}Copyright © Cypress 2018{% endblock %}

{% block js %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#ExportBT').click(function(){
      if($('#SelectYear').val()=='' || $('#SelectMonth').val()=='')      {
        alert("請選擇日期!!!");
        $('#SelectYear').focus();
        return false;
      }else{
        $( ".alert-dismissible" ).remove();
        $( "#SubmitForm" ).submit();
      }
    });
  });
</script>
{% endblock %}
