{% extends 'base.html' %}

{% block title %}交易補登{% endblock %}

{% block css %}
{% endblock %}

{% block container %}
{% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
{% endfor %}
<div class="card mb-3">
  {% if form.instance.id %}
  <div class="card-header">
    <i class="far fa-calendar-alt"></i>
    補登作業</div>
    <div class="card-body">
      <div class="table-responsive">
        <form method="post" action="{% url 'EntryEdit' id=form.instance.id %}">
          <!--<input type="hidden" name="pk" id="pk" value="{{ id }}">-->
          {% csrf_token %}
          <table class="table table-bordered" width="100%" cellspacing="0">
            {{ form.as_table }}
            <tr>
              <td colspan="2"><button type="submit" id="search" class="btn btn-primary"> <i class="far fa-save icon-large"></i>儲存 </button></td>
            </tr>
          </table>
        </form>
      </div>
    </div>
    <div class="card-footer small text-muted">Updated {% now "SHORT_DATETIME_FORMAT" %}</div>
  {% else %}
  <div class="card-header">
    <i class="far fa-calendar-alt"></i>
    補登作業</div>
    <div class="card-body">
      <div class="table-responsive">
        <form method="post" action="{% url 'EntryNew'%}">
          <!--<input type="hidden" name="pk" id="pk" value="{{ id }}">-->
          {% csrf_token %}
          <table class="table table-bordered" width="100%" cellspacing="0">
            {{ form.as_table }}
            <tr>
              <td colspan="2"><button type="submit" class="btn btn-primary"> <i class="far fa-save icon-large"></i>儲存 </button></td>
            </tr>
          </table>
        </form>
      </div>
    </div>
    <div class="card-footer small text-muted">Updated {% now "SHORT_DATETIME_FORMAT" %}</div>
  {% endif %}

</div>
{% endblock %}

{% block foot %}Copyright © Cypress 2018{% endblock %}

{% block js %}
<script type="text/javascript">
  $(document).ready(function() {

  });
</script>
{% endblock %}
