{% extends 'base.html' %}
{% load Common_extras %}
{% block title %}交易查詢{% endblock %}

{% block css %}
{% endblock %}

{% block container %}

  <div class="card bg-light mb-3">
        <div class="card-header"><i class="fas fa-search"></i>條件搜尋</div>
            <div class="card-body">
              <div class="row">
                    <input type="hidden" id="MasterID" value="0">
                    <B class="col-xl-2 col-sm-12 col-mb-6">開始日期：</B>
                    <input class="form-control rounded-0 col-xl-2 col-sm-6 col-mb-3" id="StartDate" name="StartDate" type="date">
                    <input class="form-control rounded-0 col-xl-2 col-sm-6 col-mb-3" id="StartTime" name="StartTime">
                    <B class="col-xl-2 col-sm-12 col-mb-6">結束日期：</B>
                    <input class="form-control rounded-0 col-xl-2 col-sm-6 col-mb-3" id="EndDate" name="EndDate" type="date">
                    <input class="form-control rounded-0 col-xl-2 col-sm-6 col-mb-3" id="EndTime" name="EndTime">
                    <B class="col-xl-2 col-sm-12 col-mb-6">單據號碼：</B>
                    <input class="form-control rounded-0 col-xl-4 col-sm-12 col-mb-6" id="InvoiceNo" name="InvoiceNo" value="" type="text">
                    <B class="col-xl-2 col-sm-12 col-mb-6">規費代號：</B>
                    {% ParameterListFor  list=FeeID html_id="FeeID" pleaseselect="----請選擇----" HtmlClass="form-control rounded-0 col-xl-4 col-sm-12 col-mb-6" %}
                    <B class="col-xl-2 col-sm-12 col-mb-6">收款類別：</B>
                    {% ParameterListFor  list=PayType html_id="PayType" pleaseselect="----請選擇----" HtmlClass="form-control rounded-0 col-xl-4 col-sm-12 col-mb-6" %}
                    <B class="col-xl-2 col-sm-12 col-mb-6">收款人員：</B>
                    {% ParameterListFor  list=Cashier html_id="Cashier" pleaseselect="----請選擇----" HtmlClass="form-control rounded-0 col-xl-4 col-sm-12 col-mb-6" %}
                    <B class="col-xl-2 col-sm-12 col-mb-6">狀態：</B>
                    {% ParameterListFor  list=Status html_id="Status" pleaseselect="----請選擇----" HtmlClass="form-control rounded-0 col-xl-4 col-sm-12 col-mb-6" %}
              </div>
            </div>
            <div class="card-footer small text-muted">
                <button id="search" class="btn btn-primary"> <i class="fas fa-search icon-large"></i>查詢 </button>
            </div>
  </div>




<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    規費科目清單</div>
  <div class="card-body">
    <div class="table-responsive">
      <table>
        <tr>
          <td style="width:60%;">
            <table class="table table-bordered table-striped" id="MasterTable" width="100%" cellspacing="0">
              <thead class="thead-light">
                <tr>
                  <th>機台</th>
                  <th>交易時間</th>
                  <th>收銀人員</th>
                  <th>單據號碼</th>
                  <th>合計金額</th>
                  <th>付款類別</th>
                  <th>狀態</th>
                </tr>
              </thead>
              <tfoot class="thead-light">
                <tr>
                  <th>機台</th>
                  <th>交易時間</th>
                  <th>收銀人員</th>
                  <th>單據號碼</th>
                  <th>合計金額</th>
                  <th>付款類別</th>
                  <th>狀態</th>
                </tr>
              </tfoot>
            </table>
          </td>
          <td valign="top" style="width:40%;padding-top: 37px;">
            <table class="table table-bordered table-striped" id="DetailTable" width="100%" cellspacing="0">
              <thead class="thead-light">
                <tr>
                  <th>規費代碼</th>
                  <th>規費名稱</th>
                  <th>原價</th>
                  <th>數量</th>
                  <th>小計</th>
                  <th>備註</th>
                </tr>
              </thead>
              <tfoot class="thead-light">
                <tr>
                  <th>規費代碼</th>
                  <th>規費名稱</th>
                  <th>原價</th>
                  <th>數量</th>
                  <th>小計</th>
                  <th>備註</th>
                </tr>
              </tfoot>
            </table>
          </td>
        </tr>
      </table>

    </div>
  </div>
  <div class="card-footer small text-muted">最後更新日期 {% now "SHORT_DATETIME_FORMAT" %}</div>
</div>


{% endblock %}

{% block foot %}Copyright © Cypress 2018{% endblock %}

{% block js %}
<script type="text/javascript">
    function tablerefresh(){
      var table = $('#DetailTable').DataTable();
      table.ajax.reload();
    }

  $(document).ready(function() {

    $('#StartTime').timepicker({ 'timeFormat': 'H:i' });
    $('#EndTime').timepicker({ 'timeFormat': 'H:i' });

    $('#MasterTable').DataTable( {
        "processing": true,
        "serverSide": true,
        "searching": false,
        "ajax": {
                "type":"POST",
                "url": "/Deal/GetDealMasterData/",
                "data":function(d){
                  d.csrfmiddlewaretoken= '{{ csrf_token }}';
                  d.DealDate__gte =($("#StartDate").val()!=""?($("#StartDate").val()+' '):"")+$("#StartTime").val();
                  d.DealDate__lte =($("#EndDate").val()!=""?($("#EndDate").val()+' '):"")+$("#EndTime").val();
                  d.InvoiceNo_id__InvoiceNo__exact =$("#InvoiceNo").val();
                  d.FeeID =$("#FeeID").val();
                  d.PayType__exact =$("#PayType").val();
                  d.Cashier__exact =$("#Cashier").val();
                  d.Status__exact =$("#Status").val();
                },
                "dataSrc": "data",
        },
       "language": {
                "url": "/static/vendor/datatables/i18n/Chinese-traditional.lang"
        },
        "columns": [
            { "data": "StationID" },
            { "data": "DealDate" },
            { "data": "Cashier" },
            { "data": "InvoiceNo" },
            { "data": "Amount" },
            { "data": "PayType" },
            { "data": "Status" },
            { "data": "pk","visible": false },
        ],
      });

      $('#DetailTable').DataTable( {
          "processing": true,
          "serverSide": true,
          "searching": false,
          "paging": false,
          "info": false,
          "ajax": {
                  "type":"POST",
                  "url": "/Deal/GetDealDetailData/",
                  "data":function(d){
                    d.csrfmiddlewaretoken= '{{ csrf_token }}',
                    d.MasterID__exact =$("#MasterID").val()
                  },
                  "dataSrc": "data",
          },
         "language": {
                  "url": "/static/vendor/datatables/i18n/Chinese-traditional.lang"
          },
          "columns": [
              { "data": "FeeID" },
              { "data": "FeeName" },
              { "data": "Amount" },
              { "data": "Qty" },
              { "data": "TotalAmount" },
              { "data": "Remark" },
              { "data": "MasterID","visible": false },
          ],
        });

        var table = $('#example').DataTable();

      $('#MasterTable tbody').on( 'click', 'tr', function () {
          var table = $('#MasterTable').DataTable();
          var data=table.row( this ).data()
          $('#MasterID').val(data.pk);
          tablerefresh();
      });

      $('#search').click(function(){
        var table = $('#MasterTable').DataTable();
        table.ajax.reload();
        $('#MasterID').val(0);
        tablerefresh();
      });
    } );
</script>
{% endblock %}
