{% extends 'base.html' %}

{% block title %}戶所站點管理{% endblock %}

{% block css %}
{% endblock %}

{% block container %}
<div class="card mb-3">
  {% if form.instance.id %}
  <div class="card-header">
    <i class="far fa-edit"></i>
    戶所編輯</div>
    <div class="card-body">
      <div class="table-responsive">
        <form method="post" action="{% url 'StoreEdit' id=form.instance.id %}">
          <!--<input type="hidden" name="pk" id="pk" value="{{ id }}">-->
          {% csrf_token %}
          <table class="table table-bordered" width="100%" cellspacing="0">
            {{ form.as_table }}
            <tr>
              <td colspan="2"><button type="submit" id="search" class="btn btn-primary"> <i class="far fa-save icon-large"></i>儲存 </button></td>
            </tr>
          </table>
        </form>
      </div>
    </div>
    <div class="card-footer small text-muted">Updated {% now "SHORT_DATETIME_FORMAT" %}</div>
  {% else %}
  <div class="card-header">
    <i class="fas fa-plus-circle"></i>
    戶所新增</div>
    <div class="card-body">
      <div class="table-responsive">
        <form method="post" action="{% url 'StoreNew'%}">
          <!--<input type="hidden" name="pk" id="pk" value="{{ id }}">-->
          {% csrf_token %}
          <table class="table table-bordered" width="100%" cellspacing="0">
            {{ form.as_table }}
            <tr>
              <td colspan="2"><button type="submit" id="search" class="btn btn-primary"> <i class="far fa-save icon-large"></i>儲存 </button></td>
            </tr>
          </table>
        </form>
      </div>
    </div>
    <div class="card-footer small text-muted">Updated {% now "SHORT_DATETIME_FORMAT" %}</div>
  {% endif %}

</div>
{% endblock %}

{% block foot %}Copyright © Cypress 2018{% endblock %}

{% block js %}
<script type="text/javascript">
  $(document).ready(function() {

  });
</script>
{% endblock %}
