{% extends 'base.html' %}

{% block title %}發票資訊{% endblock %}

{% block css %}
{% endblock %}

{% block container %}
<div class="card mb-3">
  <div class="card-header">
    {% if form.instance.id %}
      <i class="far fa-edit"></i>
      罰緩編輯</div>
      <div class="card-body">
        <div class="table-responsive">
          <form method="post" action="{% url 'PenaltyEdit' id=form.instance.id %}">
    {% else %}
      <i class="fas fa-plus-circle"></i>
      罰緩新增</div>
      <div class="card-body">
        <div class="table-responsive">
          <form method="post" action="{% url 'PenaltyNew'%}">
    {% endif %}
            {% csrf_token %}
            <table class="table table-bordered" width="100%" cellspacing="0">
              {{ form.as_table }}
              <tr>
                <td colspan="2"><button type="submit" id="search" class="btn btn-primary"> <i class="far fa-save icon-large"></i>儲存 </button></td>
              </tr>
            </table>
          </form>
        </div>
        </div>
        <div class="card-footer small text-muted">Updated {% now "SHORT_DATETIME_FORMAT" %}</div>

</div>
{% endblock %}

{% block foot %}Copyright © Cypress 2018{% endblock %}

{% block js %}
<script type="text/javascript">
  $(document).ready(function() {

  });
</script>
{% endblock %}
