{% extends 'base.html' %}

{% block title %}罰緩{% endblock %}

{% block css %}
{% endblock %}

{% block container %}

  <div class="card bg-light mb-3">
        <div class="card-header"><i class="fas fa-search"></i>條件搜尋</div>
            <div class="card-body">
              <div class="row">
                  <h6 class="text-right col-sm-1">罰鍰編號：</h6>
                  <input class="rounded-0 col-sm-3" id="PenaltyID" name="searchPenaltyID" value="" type="text">
                  <h6 class="text-right col-sm-1">罰鍰名稱：</h6>
                  <input class="rounded-0 col-sm-3" id="PenaltyName" name="searchPenaltyName" value="" type="text">
              </div>
            </div>

            <div class="card-footer small text-muted">
                <button onclick="tablerefresh();"  id="search" class="btn btn-primary"> <i class="fas fa-search icon-large"></i>查詢 </button>
                <button  class="btn btn-warning"  onclick="javascript:location.href='{% url 'PenaltyNew'%}'" ><i class="fas fa-plus"></i>新增</button>
            </div>

  </div>




<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    罰緩清單</div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered table-striped" id="PenaltyTable" width="100%" cellspacing="0">
        <thead class="thead-light">
          <tr>
            <th>罰緩編號</th>
            <th>罰緩名稱</th>
            <th>罰緩說明</th>
            <th> </th>
          </tr>
        </thead>
        <tfoot class="thead-light">
          <tr>
            <th>罰緩編號</th>
            <th>罰緩名稱</th>
            <th>罰緩說明</th>
            <th> </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted">最後更新日期 {% now "SHORT_DATETIME_FORMAT" %}</div>
</div>


{% endblock %}

{% block foot %}Copyright © Cypress 2018{% endblock %}

{% block js %}
<script type="text/javascript">
    function tablerefresh(){
        var table = $('#PenaltyTable').DataTable();
        table.ajax.reload();
    }


  $(document).ready(function() {
    $('#PenaltyTable').DataTable( {
        "processing": true,
        "serverSide": true,
        "searching": false,
        "ajax": {
                "type":"POST",
                "url": "/Penalty/GetPenaltyData/",
                "data":function(d){
                  d.csrfmiddlewaretoken= '{{ csrf_token }}',
                  d.searchPenaltyID=$("#searchPenaltyID").val(),
                  d.searchPenaltyName=$("#searchPenaltyName").val()
                },
                "dataSrc": "data"
        },

       "language": {
                "url": "/static/vendor/datatables/i18n/Chinese-traditional.lang"
        },
        "columns": [
            { "data": "PenaltyID" },
            { "data": "PenaltyName" },
            { "data": "Remark" },
            { "data": "pk" ,
              render: function ( data, type, row ) {
                  if ( type === 'display' ) {
                    var retStr='<button class="btn btn-secondary " onclick="location.href=\'/Penalty/Edit/'+data+'/\';" ><i class="far fa-edit icon-large"></i>編輯</button>'
                    return retStr;
                  }
                  return data;
              },
            }
        ],
      });

  } );
</script>
{% endblock %}
